@import url('https://fonts.googleapis.com/css?family=Quicksand|Cabin');

a, p, li, b, button, label {
	font-family: 'Quicksand', sans-serif;
}

blockquote, h1, h2, h3, h4, h5, h6, input, textarea {
	font-family: 'Cabin', sans-serif;
}

.nav-link, .nav-link:hover {
	color: white;
}

.nav-item:hover {
	background-color: grey;
}

#content1, #content2, #content3, #content4, #content5, #content6, #cara, #slide, #promo, #ajakan, .container-fluid {
	min-height: 100vh;
	padding: 15px;
}

#promo {
	background: red;
}

#cara {
	background: orange;
}

#ajakan {
	background: orchid;
}

#content1 {
	background-image: url('/image/investing-blog-shutterstock-810x445.jpg');
	height:445px; 
}

#content2 {
	background: maroon;
}

#content3 {
	background: darkgray;
}

#content4 {
	background: red;
}

#content5 {
	background: blue;
}

#content6 {
	
}

.text {
	padding: 30px;
}

.card-produk {
	width: 180px;
	height: 150px;
	display: inline-grid;
	margin: 5px;
}

.scale-card-content {
	width: 200px;
	height: 300px;
	display: inline-grid;
	margin: 5px;
}

.pick-product {
	padding: 10px;
	height: 300px;	
}

.content-halaman {
	width: 100%;
	height: 750px;
	padding: 10px;
}

.btn-link::after {
	content: "			|			";
}

.adminweb, .form {
	margin: auto;
	width: 100%;
	max-width: 600px;
	padding: 15px;
	min-height: 100vh;
}

.form-group input, .form-group select {
	border: none;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	outline: none;
}

.side-nav {
	padding: 5px 0px 5px 0px;
	background-color: maroon;
	width: 200px;
	height: 700px;
	display: inline-grid;
}

.side-content {
    display: inline-grid;
    position: relative;
    height: 100%;
    padding: 0px 10px 0px 5px;
}

.content-dashboard-1, .content-dashboard-2 {
	padding: 10px;
}

.footer {
	padding: 10px;
}